body {
    background: #3e464e url(assets/Backround.jpg);
    background-size: cover;
}

.mainbox {
    background-color: white;
    width: 25%;
    margin: 120px auto;
    text-align: center;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 50px;
    box-shadow: 10px 10px 5px rgb(105, 150, 150);
}

.btn {
    color:rgb(255, 255, 255);
    background-color: rgb(115, 183, 185);
    padding: 20px;
    border-radius: 20px;
    border-width: 0px;
    width: 25%;
}

.btn:hover {
    background-color: rgb(55, 127, 129)  ;
}